 html{
     font-size: 62.5%;
 }
 .app{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    margin: 0px;
    padding: 1em;
 }

 .searchform{
     display: flex;
     justify-content: center;
     margin-bottom: 5rem;
 }

 .searchbar {
     width: 30em;
     margin-top: 1em;
     height: 3em;
     border-radius: 15px;
     border: none;
     outline: none;
 }
 .search-btn {
     color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 0.8em 2em;
 }

 .recepy{ 
     background-color: #fff;
     
     color: gray;
     border-radius: 25px;
     padding: 0.8em;
    
 }
 .recepy h1 {
     color:black;
     text-align: center;
 }
 .recepy img {
     border-radius: 15px;
      width: 100%;
     box-shadow:
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 20px 20px rgba(0, 0, 0, 0.05);
     
 }
 .recepy:hover {
    box-shadow: 0 10px 50px #bcc5d8;
 }

 .card {
     
     display: grid;
     grid-gap: 3rem;
     grid-template-columns: repeat(auto-fill,  minmax(30.2em,2fr));
 }

 .headline {
     text-align: center;
 }

 @media only screen and (max-width:375px){
     html{
         font-size: 35%;
     }

     .searchbar{
         width: 13em;
     }
     .search-btn{
         margin-top: 1em;
         padding: 0.2em;
     } .recepy img {
         width: 100%;
        /* width: 39em; */
    }


 }
 @media only screen and (max-width:768px) and (min-width: 368px){
    html{
        font-size: 38%;
    }

    .searchbar{
        width: 13em;
    }
    .search-btn{
        padding: 0.5em;
    }
    .recepy img {
        /* width: 40em; */
    }
}
@media only screen and (max-width:998px) and (min-width:770px){
    html{
        font-size: 55%;
    }
    .search-btn{
        padding: 0em 1em;
    }
}